@*
    Comunicação entre view e model
*@

@* Referenciar a Model User para estabelecer as especificações das props com
as quais a aplicação vai lidar. *@
@model User

@{
    ViewData["Title"] = "Criar Usuário";
}
<partial name="_Header" model="Model"></partial>
<partial name="_NavBar" model="Model"></partial>

<h2 class="bg-info user_title-info">@ViewData["Title"]</h2>
<div>
    <a asp-actio="Index" class="btn btn-secondary"> Listar Usuários </a>
</div>

@* O atributo asp-validation-summary, fazendo uso do valor All, 
faz validação de toda a estrutura de inputs do form. 
Podemos aplicar individualmente ou em todos os inputs do form. 
*@
<div asp-validation-summary="All" class="text-danger"></div>

<div method="post">
    
    <form>
        @* Nome *@        
        <div class="mb-3">
            <label asp-for="Email" class="form-label">E-mail do Usuário</label>
            <input asp-for="Email" type="email" class="form-control" placeholder="t.cardoso.alves@etym.com">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="exemplo: Ad!m1013">
        </div>        
        <button type="submit" class="btn btn-primary">Submit</button>        
    </form>
</div>
