/*body{
    width: 100vw;
    height: 100vh;
}*/

/*nav{
    display: flex;
    align-items:center;
    justify-content: space-around;
}
*/
.div_all_createWbs{
    padding:2em;
}

.card_criar_wbs {
    width: 50%;
    border-radius: 10px;
    padding:0.8em;
}

.titulo_criar_wbs {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.form_criar_wbs {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
}

.div_inputs {
    display: flex;
    flex-direction: column;
}

.form_criar_wbs input {
    border: 2px solid #979797;
    border-radius: 10px;
    height: 2.5em;
    padding: 0.5em;
}

.button_form {
    width:50%;
    background: #A155B9;
    color: white;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
    height: 2.5em;
}

    .button_form:hover {
        background: purple;
    }

.button_cancelar {
    width: 50%;
    border-radius: 10px;
    background: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}



.div_tipo{
    display: flex;
    gap:0.4em;
    align-items:center;
}

input[type='radio'] {
    accent-color: purple;
}
